.taskContainer {
    position: relative;
    width: 100%;
    width: 243px;
    height: fit-content;
    padding: var(--task-card-padding);
    background-color: var(--task-card-bg-color);
    border: 1px solid var(--task-card-border-color);
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    border-radius: var(--task-card-border-radius);
    cursor: grab;
    color: var(--task-card-text-color);
}

.taskContainer .task-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
}

.taskContainer h3:read-write:focus {
    outline: none;
    text-decoration: underline;
}

.taskContainer h3, .taskContainer p {
    cursor: text;
}

.taskContainer p:read-write:focus {
    outline: none;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 0.8rem;
    font-weight: 400;
}

[contentEditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: var(--muted-text-color);
  font-style: italic;
  pointer-events: none;
}