.task-status-section {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    height: 100%; /* Ensure it takes full height */
    overflow: hidden; /* Hide overflow at this level */
}

.task-status-section h2 {
    padding: 0 24px;
    color: var(--primary-color);
}

.task-status-section-tasks {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 24px;
    padding: 0 24px 24px;
    overflow-y: auto; /* Changed from scroll to auto */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    min-height: 0; /* Critical for flex child scrolling */
}

.task-status-section-tasks {
    border-right: 1px dashed var(--task-card-border-color);
}

.task-status-section-tasks::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}