.notebook-list {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 6px;
}

.notebook-list-description {
    font-size: 12px;
    font-weight: 400;
    color: var(--muted-text-color);
    font-style: italic;
}

.notebook-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    padding: 0px 4px;
    padding-bottom: 0px;
}

.notebook-list-container-title {
    font-size: 12px;
    font-weight: 500;
    color: var(--muted-text-color);
    padding: 8px 0;
}

.notebook-list-container-title-header {
    padding: 0 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-page-button {
    width: 18px;
    height: 18px;
    visibility: visible;
    color: var(--primary-color);
}

.notebook-list-container-title-header:hover {
    cursor: pointer;
    background-color: var(--card-bg-color);
    border-radius: 4px;
    .add-page-button {
        visibility: visible;
    }
}

.notebook-list-items {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.notebook-list-footer {
    position: relative;
    width: 100%;
    padding: 8px;
}