.notebook-list-title {
    font-weight: 600;
    font-family: 'Lato';
    font-size: 1.2rem;
    letter-spacing: 0.02em;
}

.notebook-list-title span {
    color: var(--primary-color);
}

.notebook-list-header {
    padding: 12px 18px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 12px;
    cursor: default;
}

.notebook-list-header-left {
    display: flex;
    flex-direction: column;
}