.notebook-list {
    height: 100%;
    flex: 1;
    flex-grow: 1;
}

.notebook-list-title {
    font-size: 16px;
    font-weight: 600;
}

.notebook-list-title span {
    color: var(--primary-color);
}

.notebook-list-description {
    font-size: 13px;
    font-weight: 400;
    color: var(--muted-text-color);
}