.midnight-ember {
  --layout-bg-color: #131316;
  --layout-text-color: #FFFFFFD9;
  --primary-color: #FF7F50;
  --primary-color-100: #FF7F501A;
  --secondary-color: #6A0572;
  --tertiary-color: #FC9F5B;
  --muted-text-color: hsla(30, 10%, 80%, 0.5);
  --hover-bg-color: rgba(255, 255, 255, 0.08);

  --card-bg-color: rgba(28, 28, 34, 0.9);
  --card-alt-bg-color: rgba(21, 21, 26, 1);
  --card-text-color: #F3EFEA;
  --card-alt-text-color: #E1DCD7;
  --card-border-color: rgba(255, 127, 80, 0.1);
  --card-alt-border-color: rgba(255, 127, 80, 0.1);
  --card-border-radius: 4px;
  --card-padding: 16px 24px;
  --card-blur: 16px;

  --task-board-bg-color: #191920;
  --task-board-text-color: #F3EFEA;
  --task-board-border-color: none;
  --task-board-border-radius: 4px;
  --task-board-padding: 16px 24px;

  --task-card-bg-color: #202028;
  --task-card-text-color: #FFFFFF;
  --task-card-border-color: rgba(255, 127, 80, 0.1);
  --task-card-border-radius: 4px;
  --task-card-padding: 20px 16px;

  --project-list-panel-bg-color: #191920;
  --project-list-panel-border-color: rgba(255, 127, 80, 0.1);
  --project-list-panel-border-radius: 4px;
  --project-list-panel-padding: 16px 24px;

  --notes-list-panel-bg-color: #191920;
  --notes-list-panel-border-color: rgba(255, 127, 80, 0.1);
  --notes-list-panel-border-radius: 4px;
  --notes-list-panel-padding: 16px 12px;

  --command-center-bg-color: #131316;
  --command-center-border-color: none;
  --command-center-border-radius: 4px;
  --command-center-padding: 16px 24px;

  --primary-button-bg-color: #FF7F50;
  --primary-button-text-color: #131316;
  --primary-button-border-color: none;
  --primary-button-border-radius: 4px;
  --primary-button-padding: 12px 16px;

  --secondary-button-bg-color: #6A0572;
  --secondary-button-text-color: #FFFFFF;
  --secondary-button-border-color: none;
  --secondary-button-border-radius: 4px;
  --secondary-button-padding: 12px 16px;

  --clear-button-bg-color: transparent;
  --clear-button-text-color: #FF7F50;
  --clear-button-border-color: none;
  --clear-button-border-radius: 0;
  --clear-button-padding: 0;

  --outline-button-bg-color: transparent;
  --outline-button-text-color: #FF7F50;
  --outline-button-border-color: #FF7F50;
  --outline-button-border-radius: 4px;
  --outline-button-padding: 12px 16px;

  --code-block-background-color: #11141C;
  --code-block-border-color: #222733;
}
