.create-project-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.create-project-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    gap: 1rem;
}

.create-project-form input {
    width: 100%;
    padding: 8px 6px;
    border: none;
    background: transparent;
    color: var(--text-color);
}

.create-project-form input::placeholder {
    color: var(--muted-text-color);
}


.create-project-form input:focus {
    outline: none;
}

