.clock {
  border-radius: 8px;
  background: transparent;
  transition: all 0.3s ease;
  height: fit-content;
  cursor: pointer;
}

.clock-time {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-family: 'Lato', 'sans-serif';
}

.hours, .minutes, .seconds {
  font-size: 5rem;
  font-weight: 600;
  color: var(--card-text-color);
  min-width: 2.5ch;
  text-align: center;
}

.time-separator {
  margin: 0 2px;
  font-size: 5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.period {
  min-width: 2.5ch;
  font-size: 5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.clock-date {
  position: relative;
  top: -14px;
  left: 14px;
  font-size: 1rem;
  color: var(--muted-text-color);
  justify-content: center;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .clock-time {
    font-size: 2rem;
  }
  
  .clock-date {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .clock-time {
    font-size: 1.8rem;
  }
  
  .clock-date {
    font-size: 0.8rem;
  }
} 