.project-list {
    height: 100%;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-list-title {
    font-size: 16px;
    font-weight: 600;
}

.project-list-title span {
    color: var(--primary-color);
}

.project-list-description {
    font-size: 13px;
    font-weight: 400;
    color: var(--muted-text-color);
}

.project-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}   

.project-list-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.project-list-footer {
    position: relative;
    width: 100%;
}