.project-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}   

.project-list-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    height: 100%;
    overflow-y: scroll;
}

.project-list-footer {
    position: relative;
    width: 100%;
}