.preferences-menu-select {
    background-color: var(--card-bg-color);
    border: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--card-text-color);
    border-radius: 4px;
    text-align: center;
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid transparent;
}

.preferences-menu-select:hover {
    background-color: var(--card-alt-bg-color);
    border: 1px solid var(--card-border-color);
}

.preferences-menu-select:focus {
    outline: none;
}

.preferences-menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.auth-menu-item {
    padding: 0px 0 8px 0;
}

.preferences-menu-item label {
    font-size: 14px;
    font-weight: 500;
    color: var(--layout-text-color);
}

.preferences-menu-item input[type="checkbox"] {
    margin-right: 8px;
}

.preferences-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.preferences-menu-title-row {
    display: flex;
    padding: 0px 0 8px 0;
}

.preferences-menu-title-row:not(:first-child) {
    padding: 24px 0 8px 0;
    border-top: 1px solid var(--card-border-color);
}

.preferences-menu-title-row h4 {
    font-size: 14px;
    font-weight: 500;
    color: var(--muted-text-color);
}