.preferences-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.preferences-toolbar select {
    background-color: var(--card-bg-color);
    color: var(--muted-text-color);
    border: none;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
}

.preferences-toolbar select:focus {
    outline: none;
}